.footer {
    margin-top: auto; /* empurra o footer para baixo */
    background-color: #000c1b;
    color: #fb9815;
    display: flex;
    justify-content: space-between; /* deixa o conteúdo horizontal */
    align-items: center;
    padding: 15px 30px;
    border-top: 2px solid #fb9815;
    font-size: 18px;
}