.header {
    display: flex;
    background-color: #000c1b;
    color: #fb9815;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header img {
    margin-left: 10px;
}
.Search-bar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Search-bar input {
    width: 400px;   /* largura */
    height: 20px;   /* altura */
    font-size: 18px; /* tamanho da letra */
    padding: 8px;   /* espaço interno */
    border-radius: 50px; /* opcional, deixa arredondado */
    border-color: #fb9815;
}

.searchBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.searchBtn img {
    transition: transform 0.2s ease;
}

/* animação de hover */
.searchBtn:hover img {
    transform: translateY(-5px);
}

