/*Layout Página de Produto */

.produto-pagina {
    display: flex;
    gap: 40px;
    padding: 40px;
    color: white;
}

.img-box img {
    width: 220px;
    max-width: 100%;
    border-radius: 12px;
    border: 2px solid #fb9815;
}

.info-box h1 {
    color: #fb9815;
    font-size: 32px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 20px;
    line-height: 1.6;
}

.preco {
    font-size: 28px;
    color: #fb9815;
    font-weight: bold;
    margin-top: 20px;
}


/* === Botão Comprar === */

.btnComprar {
    background-color: #fb9815;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.btnComprar:hover {
    background-color: #ffad38;
}