/*Layout Página de Produto */

.produto-pagina {
    background-color: #001022;
    border: 2px solid #fb9815;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    color: white;
}

.info-box h1 {
    color: #fb9815;
    font-size: 32px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 20px;
    line-height: 1.6;
}

.preco {
    font-size: 28px;
    color: #fb9815;
    font-weight: bold;
    margin-top: 20px;
}

.ReviewBlock {
    background-color: #001022;
    border: 2px solid #fb9815;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    color: white;
}
