/*Layout Página de Produto */

.produto-pagina {
    display: flex;
    gap: 40px;
    padding: 40px;
    color: white;
}

.img-box img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    border: 2px solid #fb9815;
}

.info-box h1 {
    color: #fb9815;
    font-size: 32px;
    margin-bottom: 20px;
}

.info-box p {
    font-size: 20px;
    line-height: 1.6;
}

.preco {
    font-size: 28px;
    color: #fb9815;
    font-weight: bold;
    margin-top: 20px;
}
