body {
    background-color: #000d1dec;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #000c1b;
    color: #fb9815;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header img {
    margin-left: 10px;
}
.Search-bar { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Search-bar input {
    width: 400px;   /* largura */
    height: 20px;   /* altura */
    font-size: 18px; /* tamanho da letra */
    padding: 8px;   /* espaço interno */
    border-radius: 50px; /* opcional, deixa arredondado */
}

.searchBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.searchBtn img {
    transition: transform 0.2s ease;
}

/* animação de hover */
.searchBtn:hover img {
    animation: lupaJump 0.4s ease;
}

/* keyframes do pulo */
@keyframes lupaJump {
    0% { transform: translateY(0); }
    30% { transform: translateY(-12px); }
    60% { transform: translateY(0); }
    80% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-left: 60px;
}

.produto {
    background-color: #001022;
    border: 2px solid #fb9815;
    border-radius: 15px;
    padding: 15px;
    width: 250px;
    text-align: center;
    color: white;
    transition: transform 0.2s ease;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto:hover {
    transform: translateY(-8px);
}

.preco {
    font-size: 22px;
    font-weight: bold;
    color: #fb9815;
}

.btnComprar {
    background-color: #fb9815;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.btnComprar:hover {
    background-color: #ffad38;
}

.footer {
    margin-top: auto; /* empurra o footer para baixo */
    background-color: #000c1b;
    color: #fb9815;
    display: flex;
    justify-content: space-between; /* deixa o conteúdo horizontal */
    align-items: center;
    padding: 15px 30px;
    border-top: 2px solid #fb9815;
    font-size: 18px;
}